name: Swift Testing
on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/swift-test.yaml"
      - "**.swift"
      - "Package.resolved"
  schedule:
    - cron: "0 21 * * *"

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/cache@v4
        with:
          key: swift-build-package-resolved-${{ runner.os }}-${{ runner.arch }}
          path: .build
      - run: swift build
      - run: swift test
